<footer class="footer">
    <div class="footer-links">
      <a href="https://www.facebook.com/puneetsharma" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/puneetsharma" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/puneetsharma09" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  
    <div class="footer-legal">
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-of-service">Terms of Service</a>
    </div>
  
    <div class="footer-copyright">
    © 2025 StayEase Private Limited.
    </div>
  </footer>
  