<% layout('/layouts/boilerplate') -%>

<div class="rows col-6 mt-4 offset-3">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-danger">
            <%= message %>
        </h4>
      </div>
</div>